* {
  padding: 0;
  margin: 0;
}
body {
  text-align: center;
}
a {
  text-decoration: none;
}
header {
  background: #58f;
  color: white;
  padding: 10px;
}
.App-intro {
  background: #fff;
}
.About-serie {
  width: 90%;
  margin: 10px auto;
}
.series-list {
  margin: 0 auto;
  max-width: 50%;
}
.series-list li {
  background: #58f;
  color: #fff;
  max-width: 200px;
  margin: 5px auto;
  padding: 6px;
  border-radius: 10px;
  cursor: pointer;
}
input.search-bar {
    font-size: 20px;
    margin: 8px auto 20px;
    padding: 10px 10px;
    border-radius: 5px;
}

h4 {
    font-size: 23px;
}

.App-intro {
    margin-top: 20px;
    margin-bottom: 10px;
}
